@font-face {
  font-family: "Lato-Regular";
  src: url(../../font/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../../font/Lato-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  border: none;
  background-color: transparent;
}

.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.page-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 44px;
}
.page-header .header-content .logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Lato-Bold";
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-transform: uppercase;
}
.page-header .header-content .logo-img {
  width: 25px;
  height: auto;
}
.page-header .header-content .header-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.page-header .header-content .header-nav_link {
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 14px;
  transition: 0.4s;
  text-transform: uppercase;
}
.page-header .header-content .header-nav_link:hover {
  transform: scale(0.9);
}
.page-header .header-content .btn-group {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  cursor: pointer;
}
.page-header .header-content .btn-group .lang-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
.page-header .header-content .btn-group .lang-btn_img {
  width: 32px;
  height: 32px;
}
.page-header .header-content .btn-group .login-btn {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Lato-Regular";
  padding: 12px 28px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}
.page-header .header-content .btn-group .login-btn:hover {
  transform: scale(1.1);
}

.banner {
  width: 100%;
  height: 782px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(../../image/images/banner-img.png);
}
.banner-info {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  row-gap: 39px;
  flex-direction: column;
}
.banner-info_title {
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 72px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.banner-info_text {
  max-width: 500px;
  width: 100%;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 24px;
  line-height: 150%;
}
.banner-info_btn {
  font-size: 14px;
  color: #ed4c5c;
  cursor: pointer;
  font-family: "Lato-Bold";
  transition: 0.4s;
  padding: 16px 52px;
  border-radius: 6px;
  background: #ffffff;
}
.banner-info_btn:hover {
  transform: scale(1.1);
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}/*# sourceMappingURL=index.css.map */