@font-face {
  font-family: "Lato-Regular";
  src: url(../../font/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../../font/Lato-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

input,
button,
select,
textarea,
option {
  border: none;
  background-color: transparent;
}

.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.page-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 44px;
}
@media only screen and (max-width: 993px) {
  .page-header .header-content {
    padding-block: 30px;
  }
}
.page-header .header-content .logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Lato-Bold";
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-transform: uppercase;
}
.page-header .header-content .logo-img {
  width: 25px;
  height: auto;
}
.page-header .header-content .header-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 890px) {
  .page-header .header-content .header-nav {
    display: none;
  }
}
.page-header .header-content .header-nav_link {
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 14px;
  transition: 0.4s;
  text-transform: uppercase;
}
.page-header .header-content .header-nav_link:hover {
  transform: scale(0.9);
}
.page-header .header-content .btn-group {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 890px) {
  .page-header .header-content .btn-group {
    display: none;
  }
}
.page-header .header-content .btn-group .lang-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 11px;
       column-gap: 11px;
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
.page-header .header-content .btn-group .lang-btn_img {
  width: 32px;
  height: 32px;
}
.page-header .header-content .btn-group .login-btn {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Lato-Regular";
  padding: 12px 28px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}
.page-header .header-content .btn-group .login-btn:hover {
  transform: scale(1.1);
}
.page-header .header-content .burger-menu {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  display: none;
}
@media only screen and (max-width: 890px) {
  .page-header .header-content .burger-menu {
    display: flex;
  }
}
.page-header .header-content .burger-menu > span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #ffffff;
}
.page-header .header-content .burger-menu > span::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: -9px;
  left: 0;
}
.page-header .header-content .burger-menu > span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  left: 0;
}

.banner {
  width: 100%;
  height: 782px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(../../image/images/banner-img.png);
}
@media only screen and (max-width: 993px) {
  .banner {
    height: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    height: 600px;
  }
}
@media only screen and (max-width: 576px) {
  .banner {
    height: 500px;
  }
}
@media only screen and (max-width: 420px) {
  .banner {
    height: 450px;
  }
}
.banner-info {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  row-gap: 39px;
  flex-direction: column;
}
@media only screen and (max-width: 993px) {
  .banner-info {
    row-gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-info {
    row-gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .banner-info {
    row-gap: 15px;
  }
}
.banner-info_title {
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 72px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
@media only screen and (max-width: 993px) {
  .banner-info_title {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-info_title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .banner-info_title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .banner-info_title {
    font-size: 35px;
  }
}
@media only screen and (max-width: 350px) {
  .banner-info_title {
    font-size: 30px;
  }
}
.banner-info_text {
  max-width: 500px;
  width: 100%;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 24px;
  line-height: 150%;
}
@media only screen and (max-width: 993px) {
  .banner-info_text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-info_text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .banner-info_text {
    font-size: 14px;
  }
}
.banner-info_btn {
  font-size: 14px;
  color: #ed4c5c;
  cursor: pointer;
  font-family: "Lato-Bold";
  transition: 0.4s;
  padding: 16px 52px;
  border-radius: 6px;
  background: #ffffff;
}
.banner-info_btn:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
  .banner-info_btn {
    padding: 14px 40px;
  }
}
@media only screen and (max-width: 375px) {
  .banner-info_btn {
    font-size: 12px;
    padding: 12px 30px;
  }
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.managment {
  width: 100%;
}
.managment-content {
  gap: 30px;
  margin-block: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.managment-content_info {
  max-width: 445px;
  width: 100%;
}

.content-info_title {
  color: #000000;
  font-family: "Lato-Bold";
  font-size: 36px;
  margin-bottom: 42px;
}
.content-info_text, .content-info_link {
  font-size: 14px;
  font-family: "Lato-Regular";
  line-height: 140%;
  color: #000000;
  text-align: justify;
  margin-bottom: 16px;
}
.content-info_link {
  color: #ed4c5c;
  margin-bottom: 0;
}

.content-media {
  position: relative;
  border-radius: 15px;
  z-index: 1;
}
.content-media_img {
  width: 100%;
}
.content-media_play {
  top: 50%;
  z-index: 2;
  left: -33px;
  width: 66px;
  height: 66px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed4c5c;
  transform: translateY(-50%);
}

.features {
  width: 100%;
  background-color: #FAFAFA;
}
.features-content {
  padding-block: 63px 229px;
}
.features-content_title {
  color: #000000;
  font-family: "Lato-Bold";
  font-size: 36px;
  text-align: center;
  margin-bottom: 63px;
}
.features-content_info {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.features-data_item {
  z-index: 1;
  position: relative;
}
.features-data_element {
  max-width: 293px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 8%;
  border-radius: 8px;
  padding: 33px 20px 25px;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.features-data_img {
  max-width: 350px;
  width: 100%;
}
.features-data_title, .features-data_text {
  max-width: 229px;
  width: 100%;
  color: #101010;
  font-size: 18px;
  font-family: "Lato-Bold";
  text-align: center;
}
.features-data_text {
  color: #101010;
  font-size: 12px;
  font-family: "Lato-Regular";
  margin-block: 20px 24px;
}
.features-data_btn {
  font-size: 12px;
  color: #ed4c5c;
  cursor: pointer;
  font-family: "Lato-Bold";
}

.technology {
  width: 100%;
}
.technology-content {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-block: 63px 104px;
}
.technology-content_title {
  color: #000000;
  font-family: "Lato-Bold";
  font-size: 36px;
  margin-bottom: 63px;
}
.technology-content_info {
  display: flex;
  align-items: center;
}

.technology-data {
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.technology-data_item {
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.technology-data_number {
  font-size: 100px;
  font-family: "Lato-Bold";
  color: rgba(16, 16, 16, 0.08);
}
.technology-data_img {
  position: absolute;
  top: 60px;
}
.technology-data_title {
  color: #101010;
  font-size: 18px;
  font-family: "Lato-Bold";
  margin-block: 19px 10px;
}
.technology-data_text {
  max-width: 191px;
  width: 100%;
  color: #101010;
  font-size: 12px;
  font-family: "Lato-Regular";
  text-align: center;
}

.information {
  width: 100%;
  background-color: #ed4c5c;
}
.information-content {
  -moz-column-gap: 81px;
       column-gap: 81px;
  padding-block: 94px 95px;
}
.information-content_img {
  max-width: 533px;
  width: 100%;
}
.information-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information-item_blog {
  width: 100%;
}
.information-item_title {
  max-width: 363px;
  width: 100%;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 36px;
}
.information-item_text {
  color: #ffffff;
  font-size: 14px;
  font-family: "Lato-Regular";
  text-align: justify;
  margin-block: 40px 47px;
}
.information-item_group {
  display: flex;
  align-items: center;
  cursor: pointer;
  -moz-column-gap: 23px;
       column-gap: 23px;
}

.contact {
  padding-block: 117px 78px;
}
.contact-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: start;
}
.contact .contact-info {
  max-width: 540px;
  width: 100%;
}
.contact .contact-info_title {
  color: #000000;
  font-family: "Lato-Bold";
  font-size: 36px;
  margin-bottom: 56px;
}
.contact .contact-info_text {
  max-width: 434px;
  width: 100%;
  font-size: 14px;
  font-family: "Lato-Regular";
  color: #000000;
  line-height: 140%;
}
.contact .contact-form {
  max-width: 540px;
  width: 100%;
}
.contact .contact-form_form {
  gap: 25px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.contact .contact-form_form-name {
  width: 255px;
  padding: 20px 30px;
  border-radius: 6px;
  font-family: "Lato-Regular";
  font-size: 18px;
  outline: 1px solid #333;
  text-transform: capitalize;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form-name:focus {
  outline: 1px solid #ed4c5c;
}
.contact .contact-form_form-name::-moz-placeholder {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form-name::placeholder {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form-tel {
  width: 100%;
  padding: 20px 30px;
  border-radius: 6px;
  font-family: "Lato-Regular";
  font-size: 18px;
  outline: 1px solid #333;
  text-transform: capitalize;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form-tel:focus {
  outline: 1px solid #ed4c5c;
}
.contact .contact-form_form-tel::-moz-placeholder {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form-tel::placeholder {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form .select {
  width: 100%;
  position: relative;
}
.contact .contact-form_form .select::after {
  content: url(../../image/icons/arrow-down-dpwn-icon.svg);
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
}
.contact .contact-form_form .select select {
  width: 100%;
  padding: 20px 30px;
  border-radius: 6px;
  font-family: "Lato-Regular";
  font-size: 18px;
  outline: 1px solid #333;
  text-transform: capitalize;
  color: rgba(19, 39, 67, 0.5);
  -webkit-appearance: none;
}
.contact .contact-form_form .select select:focus {
  outline: 1px solid #ed4c5c;
}
.contact .contact-form_form .select select::-moz-placeholder {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form .select select::placeholder {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact-form_form .submit-btn {
  color: #ffffff;
  font-size: 14px;
  transition: 0.4s;
  font-family: "Lato-Regular";
  padding: 17px 34px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #ed4c5c;
  border: 1.5px solid #ed4c5c;
}
.contact .contact-form_form .submit-btn:hover {
  color: #ed4c5c;
  cursor: pointer;
  background-color: #ffffff;
  border: 1.5px solid primary;
}/*# sourceMappingURL=index.css.map */