@font-face {
    font-family: "Lato-Regular";
    src: url(../../font/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Lato-Bold";
    src: url(../../font/Lato-Bold.ttf);
    font-weight: 700;
}