@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    @include flex;
    justify-content: center;
}

@mixin flexBetween {
    @include flex;
    justify-content: space-between;
}

@mixin title {
    color: $secondary;
    font-family: $LB;
    font-size: $lg;
}

@mixin text {
    color: $dark;
    font-size: $xs;
    font-family: $LR;
}

@mixin titleText {
    color: $dark;
    font-size: $md;
    font-family: $LB;
}