.banner {
    width: 100%;
    height: 782px;
    text-align: center;
    position: relative;
    @include flexCenter;
    background-size: cover;
    background-image: url(../../image/images/banner-img.png);

    @include media(993) {
        height: 700px;
    }

    @include media(768) {
        height: 600px;
    }

    @include media(576) {
        height: 500px;
    }

    @include media(420) {
        height: 450px;
    }

    &-info {
        position: relative;
        z-index: 1;
        @include flex;
        row-gap: 39px;
        flex-direction: column;

        @include media(993) {
            row-gap: 30px;
        }

        @include media(768) {
            row-gap: 20px;
        }

        @include media(576) {
            row-gap: 15px;
        }

        &_title {
            color: $light;
            font-family: $LB;
            font-size: $xl;
            letter-spacing: 3.6px;
            text-transform: uppercase;

            @include media(993) {
                font-size: 60px;
            }

            @include media(768) {
                font-size: 50px;
            }

            @include media(576) {
                font-size: 40px;
            }

            @include media(375) {
                font-size: 35px;
            }

            @include media(350) {
                font-size: 30px;
            }
        }

        &_text {
            max-width: 500px;
            width: 100%;
            color: $light;
            font-family: $LB;
            font-size: 24px;
            line-height: 150%;

            @include media(993) {
                font-size: 20px;
            }

            @include media(768) {
                font-size: 16px;
            }

            @include media(576) {
                font-size: 14px;
            }
        }

        &_btn {
            font-size: $sm;
            color: $primary;
            cursor: pointer;
            font-family: $LB;
            transition: 0.4s;
            padding: 16px 52px;
            border-radius: 6px;
            background: $light;

            &:hover {
                transform: scale(1.1);
            }

            @include media(768) {
                padding: 14px 40px;
            }

            @include media(375) {
                font-size: $xs;
                padding: 12px 30px;
            }
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%);
    }
}