.contact {
    padding-block: 117px 78px;

    &-content {
        @include flex;
        column-gap: 30px;
        align-items: start;
    }

    .contact-info {
        max-width: 540px;
        width: 100%;

        &_title {
            @include title;
            margin-bottom: 56px;
        }

        &_text {
            max-width: 434px;
            width: 100%;
            font-size: $sm;
            font-family: $LR;
            color: $secondary;
            line-height: 140%;
        }
    }

    .contact-form {
        max-width: 540px;
        width: 100%;

        &_form {
            gap: 25px;
            flex-wrap: wrap;
            @include flex;

            &-name {
                width: 255px;
                @include input;
            }

            &-tel {
                width: 100%;
                @include input;
            }

            .select {
                width: 100%;
                position: relative;

                &::after {
                    content: url(../../image/icons/arrow-down-dpwn-icon.svg);
                    position: absolute;
                    top: 50%;
                    right: 26px;
                    transform: translateY(-50%);
                }

                select {
                    width: 100%;
                    @include input;
                    -webkit-appearance: none;
                }
            }

            .submit-btn {
                color: $light;
                font-size: $sm;
                transition: .4s;
                font-family: $LR;
                padding: 17px 34px;
                border-radius: 6px;
                text-transform: uppercase;
                background-color: $primary;
                border: 1.5px solid $primary;

                &:hover {
                    color: $primary;
                    cursor: pointer;
                    background-color: $light;
                    border: 1.5px solid primary;
                }
            }
        }
    }
}