.managment {
    width: 100%;

    &-content {
        gap: 30px;
        margin-block: 94px;
        @include flexBetween;

        &_info {
            max-width: 445px;
            width: 100%;
        }
    }
}

.content-info {
    &_title {
        @include title;
        margin-bottom: 42px;
    }

    &_text,
    &_link {
        font-size: $sm;
        font-family: $LR;
        line-height: 140%;
        color: $secondary;
        text-align: justify;
        margin-bottom: 16px;
    }

    &_link {
        color: $primary;
        margin-bottom: 0;
    }
}

.content-media {
    position: relative;
    border-radius: 15px;
    z-index: 1;

    &_img {
        width: 100%;
    }

    &_play {
        top: 50%;
        z-index: 2;
        left: -33px;
        width: 66px;
        height: 66px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        @include flexCenter;
        background-color: $primary;
        transform: translateY(-50%);
    }
}