.managment {
    width: 100%;

    @include media(768) {
        padding-block: 60px;
    }

    @include media(576) {
        padding-block: 40px;
    }

    @include media(420) {
        padding-block: 30px;
    }

    &-content {
        gap: 30px;
        margin-block: 94px;
        @include flexBetween;

        @include media(700) {
            flex-direction: column;
            margin-block: 50px;
        }

        &_info {
            max-width: 445px;
            width: 100%;

            @include media(700) {
                text-align: center;
            }
        }
    }
}

.content-info {
    &_title {
        @include title;
        margin-bottom: 42px;

        @include media(785) {
            margin-bottom: 25px;
        }

        @include media(700) {
            text-align: center;
        }

        @include media(420) {
            font-size: 29px;
        }
    }

    &_text,
    &_link {
        font-size: $sm;
        font-family: $LR;
        line-height: 140%;
        color: $secondary;
        text-align: justify;
        margin-bottom: 16px;

        @include media(700) {
            text-align: center;
        }
    }

    &_link {
        color: $primary;
        margin-bottom: 0;
    }
}

.content-media {
    position: relative;
    border-radius: 15px;
    z-index: 1;

    &_img {
        width: 100%;
    }

    &_play {
        top: 50%;
        z-index: 2;
        left: -33px;
        width: 66px;
        height: 66px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        @include flexCenter;
        background-color: $primary;
        transform: translateY(-50%);

        @include media(700) {
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        @include media(420) {
            width: 50px;
            height: 50px;
        }
    }
}