// Colors

$light: #ffffff;
$primary: #ed4c5c;
$secondary: #000000;

// Font-size

$xs: 12px;
$sm: 14px;
$md: 18px;
$lg: 36px;
$xl: 72px;
$normal: 16px;

// Font-family

$LB: "Lato-Bold";
$LR: "Lato-Regular";